.bg-rectangle{
    background-image: url('../../../assets/banner/rectangle_bg.png');
    background-size: cover;
    width: 574px;
    height: 661px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .bg-rectangle{
        background-image: url('../../../assets/banner/rectangle_bg.png');
        background-size: cover;
        width: 300px;
        height: 350px;
    }
}